## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,2022-05-24 00:32:27,-33.9258,18.4232,60.28,88,75,10.36,broken clouds
1,1,Puerto Ayora,EC,2022-05-24 00:33:24,-0.7393,-90.3518,72.55,96,49,1.01,scattered clouds
2,2,Poso,ID,2022-05-24 00:36:18,-1.3959,120.7524,83.34,70,79,2.80,broken clouds
3,3,Ushuaia,AR,2022-05-24 00:32:39,-54.8000,-68.3000,33.46,80,20,8.05,few clouds
4,4,Lazaro Cardenas,MX,2022-05-24 00:36:18,17.9583,-102.2000,78.93,77,45,10.38,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Poso,ID,2022-05-24 00:36:18,-1.3959,120.7524,83.34,70,79,2.80,broken clouds
4,4,Lazaro Cardenas,MX,2022-05-24 00:36:18,17.9583,-102.2000,78.93,77,45,10.38,scattered clouds
10,10,Rikitea,PF,2022-05-24 00:33:21,-23.1203,-134.9692,75.88,74,19,9.98,few clouds
24,24,Butaritari,KI,2022-05-24 00:33:20,3.0707,172.7902,82.11,77,100,13.98,overcast clouds
26,26,Manzanillo,CU,2022-05-24 00:36:22,20.3433,-77.1167,76.68,85,100,5.26,light rain
...,...,...,...,...,...,...,...,...,...,...,...
668,668,Balaipungut,ID,2022-05-24 00:54:45,1.0500,101.2833,77.76,94,100,1.32,overcast clouds
669,669,Kailua,US,2022-05-24 00:54:46,21.4022,-157.7394,81.14,71,100,13.80,overcast clouds
670,670,Wagar,SD,2022-05-24 00:54:46,16.1525,36.2032,83.61,33,4,12.55,clear sky
671,671,Sao Cristovao,BR,2022-05-24 00:54:46,-11.0147,-37.2064,80.51,65,20,13.80,few clouds
672,672,Kiunga,PG,2022-05-24 00:54:47,-6.1219,141.2906,84.45,71,73,3.06,broken clouds

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

## zero empty rows:

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Poso,ID,2022-05-24 00:36:18,-1.3959,120.7524,83.34,70,79,2.80,broken clouds
4,4,Lazaro Cardenas,MX,2022-05-24 00:36:18,17.9583,-102.2000,78.93,77,45,10.38,scattered clouds
10,10,Rikitea,PF,2022-05-24 00:33:21,-23.1203,-134.9692,75.88,74,19,9.98,few clouds
24,24,Butaritari,KI,2022-05-24 00:33:20,3.0707,172.7902,82.11,77,100,13.98,overcast clouds
26,26,Manzanillo,CU,2022-05-24 00:36:22,20.3433,-77.1167,76.68,85,100,5.26,light rain
...,...,...,...,...,...,...,...,...,...,...,...
668,668,Balaipungut,ID,2022-05-24 00:54:45,1.0500,101.2833,77.76,94,100,1.32,overcast clouds
669,669,Kailua,US,2022-05-24 00:54:46,21.4022,-157.7394,81.14,71,100,13.80,overcast clouds
670,670,Wagar,SD,2022-05-24 00:54:46,16.1525,36.2032,83.61,33,4,12.55,clear sky
671,671,Sao Cristovao,BR,2022-05-24 00:54:46,-11.0147,-37.2064,80.51,65,20,13.80,few clouds
672,672,Kiunga,PG,2022-05-24 00:54:47,-6.1219,141.2906,84.45,71,73,3.06,broken clouds

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Poso,ID,83.34,broken clouds,-1.3959,120.7524,
4,Lazaro Cardenas,MX,78.93,scattered clouds,17.9583,-102.2000,
10,Rikitea,PF,75.88,few clouds,-23.1203,-134.9692,
24,Butaritari,KI,82.11,overcast clouds,3.0707,172.7902,
26,Manzanillo,CU,76.68,light rain,20.3433,-77.1167,
28,Araouane,ML,85.01,clear sky,18.9048,-3.5265,
29,Mlonggo,ID,82.47,broken clouds,-6.5333,110.7000,
31,Atuona,PF,78.67,few clouds,-9.8000,-139.0333,
41,Kapaa,US,82.38,few clouds,22.0752,-159.3190,
42,Lompoc,US,76.69,clear sky,34.6391,-120.4579,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Poso,ID,83.34,broken clouds,-1.3959,120.7524,Hotel 77 Poso
4,Lazaro Cardenas,MX,78.93,scattered clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
10,Rikitea,PF,75.88,few clouds,-23.1203,-134.9692,People ThankYou
24,Butaritari,KI,82.11,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
26,Manzanillo,CU,76.68,light rain,20.3433,-77.1167,"HOSTAL ""THE YELLOW HOUSE"""

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))